![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 9

# 1. Write a python script to print MySirG N times on the screen

In [53]:
n=int(input("Enter the number : "))
i=0
while(n>i):
    print("MySirG")
    i+=1

Enter the number : 5
MySirG
MySirG
MySirG
MySirG
MySirG

# 2.  Write a python script to print first N natural numbers

In [54]:
n=int(input("Enter the number : "))
i=1
while(n>=i):
    print(i)
    i+=1

Enter the number : 12
1
2
3
4
5
6
7
8
9
10
11
12

# 3. Write a python script to print first N natural numbers in reverse order

In [55]:
n=int(input("Enter the number : "))
i=1
while(i<=n):
    print(n+1-i)
    i+=1

Enter the number : 12
12
11
10
9
8
7
6
5
4
3
2
1

# 4. Write a python script to print first N odd natural numbers.

In [56]:
n= int(input("Enter the number : "))
i,j=1,1
while(i<=n):
    if j%2!=0:
        print(j)
        i+=1
    j+=1

Enter the number : 12
1
3
5
7
9
11
13
15
17
19
21
23

# 5. Write a python script to print first N odd natural numbers in reverse order.

In [57]:
n= int(input("enter the number : "))
i,j=1,1
lis=[]
while(i<=n):
    if(j%2!=0):
        lis.append(j)
        i+=1
    j+=1

lis.reverse()
for i in lis:
    print(i, end=" ")

enter the number : 12
23 21 19 17 15 13 11 9 7 5 3 1

# 6. Write a python script to print first N even natural numbers

In [58]:
n= int(input("Enter the number : "))

i,j=1,1
while(i<=n):
    if(j%2==0):
        print(j)
        i+=1
    j+=1

Enter the number : 12
2
4
6
8
10
12
14
16
18
20
22
24

# 7. Write a python script to print first N even natural numbers in reverse order

In [59]:
n= int(input("Enter the number : "))
i,j=1,1
lis=[]
while n:
    if(i%2==0):
        lis.append(i)
        n-=1
    i+=1
lis.reverse()
for i in lis:
    print(i,end=' ')

Enter the number : 12
24 22 20 18 16 14 12 10 8 6 4 2

# 8. Write a python script to print squares of first N natural numbers

In [60]:
n= int(input("Enter the number : "))
i=1
while n>=i:
    print(i**2,end=' ')
    i+=1

Enter the number : 12
1 4 9 16 25 36 49 64 81 100 121 144

# 9. Write a python script to print cubes of first N natural numbers.

In [61]:
n= int(input("Enter the number : "))
i=1
while n>=i:
    print(i**3, end=' ')
    i+=1

Enter the number : 12
1 8 27 64 125 216 343 512 729 1000 1331 1728

# 10. Write a python script to print first 10 multiples of N.

In [62]:
num= int(input("Enter the number that multiple you want : "))
print("first 10 multiple of ",num," are :")
i=1
while i<=10:
    print(num*i,end=' ')
    i+=1

Enter the number that multiple you want : 12
first 10 multiple of  12  are :
12 24 36 48 60 72 84 96 108 120