![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq
## Email: mohammadwasiq0786@gmail.com
### Assignment 16

# 1. Write a python script to store multiple items in a single variable ( Items are “Java” ,“Python”, “SQL”, “C” ) using tuple

In [1]:
item=("Java","Python","SQL","C")
print(item)

('Java', 'Python', 'SQL', 'C')

# 2. Write a python program to store only one item using tuple.

In [2]:
item=("iNeuron",)
print("Item : ",item ," and type : ",type(item))

Item :  ('iNeuron',)  and type :  <class 'tuple'>

# 3. Write a python program to reverse the tuple.

In [3]:
item=("iNeuron","C#","Python","SQL","C++")
print("Normal tuple : ",item)
print("Reverse tuple : ",item[::-1])

Normal tuple :  ('iNeuron', 'C#', 'Python', 'SQL', 'C++')
Reverse tuple :  ('C++', 'SQL', 'Python', 'C#', 'iNeuron')

# 4. Write a python program to Swap two tuples in Python..

In [4]:
tup1=("hey ","tuple "," 1")
tup2=("hey ","tuple "," 2")
print("Tuple 1 : ",tup1)
print("Tuple 2 : ",tup2)
tup1,tup2=tup2,tup1
print()

print("After swapping : ")
print("Tuple 1 : ",tup1)
print("TUple 2 : ",tup2)

Tuple 1 :  ('hey ', 'tuple ', ' 1')
Tuple 2 :  ('hey ', 'tuple ', ' 2')

After swapping :
Tuple 1 :  ('hey ', 'tuple ', ' 2')
TUple 2 :  ('hey ', 'tuple ', ' 1')

# 5. Write a python program to check if all items in the tuple are the same

In [5]:
tup=(1,1,1,1)
flag=0
for i in tup:
    for j in tup:
        if (i!=j):
            print("All the items of tuple are not same i.e ",tup)
            flag=1
            break
    if flag==1:
        break
else:
    print("All the items of tuple are same i.e ",tup)

All the items of tuple are same i.e  (1, 1, 1, 1)

# 6. Write a python program to divide the tuple into four variables. tuple1=(100, 200, 300, 400)

In [6]:
tuple1=(100, 200, 300, 400)
print("Tuple : ",tuple1)
print("After dividing the tuple into 4 variables : ")

a,b,c,d=tuple1
print("a : ",a)
print("b : ",b)
print("c : ",c)
print("d : ",d)

Tuple :  (100, 200, 300, 400)
After dividing the tuple into 4 variables :
a :  100
b :  200
c :  300
d :  400

# 7. Write a python program to copy elements 4 and 5 from the following tuple into a new tuple. tuple1=(1,2,3,4,5,6)

In [7]:
tuple1=(1,2,3,4,5,6)
tup=()
for i in tuple1:
    if i==4 or i==5:
        tup=tup+(i,)

print("after copy the tuple become : ",tup)

after copy the tuple become :  (4, 5)

# 8. Write a python program to Sort a tuple of tuples by the second item.
## `tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))`

In [8]:
def sort_tup(tup):
    l=len(tup)
    for i in range(l):
        for j in range(0,l-i-1):
            if (tup[j][1]>tup[j+1][1]):
                temp=tup[j]
                tup[j]=tup[j+1]
                tup[j+1]=temp
    return tuple(tup)

tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))
print("Before sorting : ")
print(tuple1)
tuple1=list(tuple1)
tup=sort_tup(tuple1)

print("After sorting by second item : ")
print(tup)

Before sorting :
(('a', 21), ('b', 37), ('c', 11), ('d', 29))
After sorting by second item :
(('c', 11), ('a', 21), ('d', 29), ('b', 37))

# 9. Write a python program to print the value 20 from given nested tuple
## `tuple1 = ("Python", [10, 20, 30], (2, 4, 16))`

In [10]:
tuple1 = ("Python", [10, 20, 30], (2, 4, 16))

print("20 is printed by tuple1[1][1] : ",tuple1[1][1])

20 is printed by tuple1[1][1] :  20

# 10. Write a python program to change the first item (22) of a list within the following tuple to 222.
## `tuple1 = (11, [22, 33], 44, 55)`

```py
tuple1 = (11, [22, 33], 44, 55)

tup=()
for i in tuple1:
    if type(i)!=int:
        lis=[]
        for j in i :
            if j==22:
                lis.append(222)
                
            else:
                lis.append(j)
                tup=tup+(lis,)  
    else:
        tup=tup+(i,)
```

In [9]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0]=222
print("tuple are : ",tuple1)

tuple are :  (11, [222, 33], 44, 55)