![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq
## Email: mohammadwasiq0786@gmail.com
### Assignment 17

# 1. Write a python program to store all the programming languages known to you using Set

In [1]:
s={i for i in input("Enter the programming languages known to you : ").split(" ")}
print("languages names are : ")
print(s)
print("Type of s are : ",type(s))

Enter the programming languages known to you : Python
languages names are :
{'Python'}
Type of s are :  <class 'set'>

# 2. Write a python program to delete the set completely.

In [2]:
thisset = { "Python", "Django", "JavaScript", "SQL" }
print("Given set are : ",thisset)

thisset.clear()
print("After deletion of set",thisset)

Given set are :  {'SQL', 'Python', 'Django', 'JavaScript'}
After deletion of set set()

# 3. Write a python program to delete the set completely.

In [3]:
thisset = { "Python", "Django", "JavaScript", "SQL" }
print("Given set are : ",thisset)

thisset.clear()
print("After deletion of set",thisset)

Given set are :  {'SQL', 'Python', 'Django', 'JavaScript'}
After deletion of set set()

# 4. Write a Python script to find if “Python” is present in the set thisset = {"Java", "Python", "Django"}

In [4]:
thisset = {"Java","Python", "Django"}
for i in thisset:
    if i=='Python':
        print("Python is present in given set ")
        break
else:
    print("Python is not present in given set")

Python is present in given set

# 5. Write a python program to add items from another set to the current set. 
## `thisset= {"Java", "Python", "SQL"}`
## `secondset= {"C", "Cpp", "NoSQL"}`

In [5]:
thisset = {"Java", "Python", "SQL"}
secondset= {"C", "Cpp", "NoSQL"}

print("thisset set :",thisset)
print("second set : ",secondset)

for i in secondset:
    thisset.add(i)

print()
print("After addition of items from another set to the current set are : ")
print(thisset)

thisset set : {'SQL', 'Python', 'Java'}
second set :  {'C', 'NoSQL', 'Cpp'}

After addition of items from another set to the current set are :
{'Python', 'Cpp', 'C', 'Java', 'SQL', 'NoSQL'}

# 6. Write a python program to add elements of list to a set
## `thisset = {"Python", "Django", "JavaScript"}`
## `mylist = ["Java", "C"]`

In [6]:
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]

print("set : ",thisset)
print("list : ",mylist)

for i in mylist:
    thisset.add(i)

print("After the addition of list element to the set : ")
print(thisset)

set :  {'Python', 'Django', 'JavaScript'}
list :  ['Java', 'C']
After the addition of list element to the set :
{'Python', 'C', 'Java', 'JavaScript', 'Django'}

# 7. Write a python program to remove last item of the given set
## `thisset = {"Python", "Django", "JavaScript", “SQL”}`

In [7]:
thisset = { "Python", "Django", "JavaScript", "SQL" }
print("set : ",thisset)

x=list(thisset)[-1]
print("Last element are : ",x)

thisset.discard(x)
print("After removing the last item of the given set : ")
print(thisset)

set :  {'SQL', 'Python', 'Django', 'JavaScript'}
Last element are :  JavaScript
After removing the last item of the given set :
{'SQL', 'Python', 'Django'}

# 8. Write a python program to delete the set completely.

In [8]:
thisset = { "Python", "Django", "JavaScript", "SQL" }
print("Given set are : ",thisset)

thisset.clear()
print("After deletion of set",thisset)

Given set are :  {'SQL', 'Python', 'Django', 'JavaScript'}
After deletion of set set()

# 9. Write a python program to loop through the set and print values
## `thisset = {"Python", "Django", "JavaScript", “SQL”}`

In [9]:
thisset = {"Python", "Django", "JavaScript", "SQL"}
print("The value of set are : ")
for i in thisset:
    print(i)

The value of set are :
SQL
Python
Django
JavaScript

# 10. Write a python program to find the maximum and minimum value in a set.

In [10]:
s={1,2,3,4,5,6,7}
print("maximum element in the given set are : ",max(s))
print("minimum element in the given set are : ",min(s))

maximum element in the given set are :  7
minimum element in the given set are :  1