![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 1

# 1. Write a command to get the Python version you are using.

In [1]:
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

# 2. Write a python script to print Hello Python on the screen directly in the command line.

In [2]:
print("Hello Python")

Hello Python

# 3. Write a python script and store it in a file and execute the file from the command line.

In [3]:
print('This is Mohammad Wasiq QCS ')
print('Student of Full Stack Web Development with Python  ')

This is Mohammad Wasiq QCS
Student of Full Stack Web Development with Python

# 4. Write a python script to print Hello Python on the screen using visual studio code.

In [4]:
print("Hello Python")

Hello Python

# 5. Write a python script to print Hello on the first line and Python on the second line.

In [5]:
print("Hello", "Welcome", sep= '\n')

print()
print("OR")
print()

print('Hello')
print('Python')

Hello
Welcome

OR

Hello
Python

# 6. Write a python script to print “MySirG” on the screen

In [7]:
print("MySirG")

print("OR")

print("\"MySirG\"")

MySirG
OR
"MySirG"

# 7. Write a python script to print “Teacher’s Day” on the screen

In [8]:
print("Teacher`s Day")

Teacher`s Day

# 8. Write a python script to print the value of a variable. Variable contains your name as data.

In [9]:
name= "Mohammad Wasiq"

print(name)

Mohammad Wasiq

# 9. Write a python script to create variables to store your name, age, qualification, years of experience and print it.

In [10]:
name= input("Enter your name :")
age= int(input("Enter your age :"))
qualification= input("Enter your qualification :")
yoe= input("Enter your years of experience :")

print('Name :', name)
print('Age :',age)
print('Qualification :',qualification)
print('Year of experience :',yoe)

Enter your name :Mohammad Wasiq
Enter your age :22
Enter your qualification :M.Sc.
Enter your years of experience :Fresher
Name : Mohammad Wasiq
Age : 22
Qualification : M.Sc.
Year of experience : Fresher

# 10. Write a python script to print values of three variables, each in a new line. Variable contains integer values.

In [11]:
a= int(input("Enter First Value "))
b= int(input("Enter Second Value "))
c= int(input("Enter Third Value "))

print(a, b, c, sep= "\n")

Enter First Value 12
Enter Second Value 13
Enter Third Value 15
12
13
15