![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 11

# 1. Write a python script to calculate sum of first N natural numbers

In [75]:
n=int(input("Enter the number : "))
s=0
for i in range(1,n+1):
    s+=i
print("sum of first ",n," natural numbers are : ",s)

Enter the number : 6
sum of first  6  natural numbers are :  21

# 2. Write a python script to calculate sum of squares of first N natural numbers

In [76]:
n=int(input("Enter the number : "))
s=0
for i in range(1, n+1):
    s+=i**2
print("Sum of sqaure of first ",n," natural numbers are : ",s)

Enter the number : 6
Sum of sqaure of first  6  natural numbers are :  91

# 3. Write a python script to calculate sum of cubes of first N natural numbers

In [77]:
n=int(input("Enter the number : "))
s=0
for i in range(1,n+1):
    s+=i**3
print("Sum of cube of first ",n," natural numbers are : ",s)

Enter the number : 6
Sum of cube of first  6  natural numbers are :  441

# 4. Write a python script to calculate sum of first N odd natural numbers

In [78]:
n=int(input("Enter the number : "))
s=0
for i in range(2*n-1,0,-2):
    s+=i
print("sum of first ",n," odd natural numbers are : ",s)

Enter the number : 6
sum of first  6  odd natural numbers are :  36

# 5. Write a python script to calculate sum of first N even natural numbers

In [79]:
n=int(input("Enter the number : "))
s=0
for i in range(2*n,0,-2):
    s+=i
print("sum of first ",n," even natural numbers are : ",s)

Enter the number : 6
sum of first  6  even natural numbers are :  42

# 6. Write a python script to calculate factorial of a given number.

In [80]:
from re import I

n=int(input("Enter the number that factorial you want to calculate : "))
f=1
for i in range(1,n+1):
    f*=i
print("factorial of ",n," are : ",f)

Enter the number that factorial you want to calculate : 5
factorial of  5  are :  120


# 7. Write a python script to count digits in a given number

In [81]:
n=int(input("Enter the number : "))
j=0

while n:
    j+=1
    n=n//10
print("total numbers of digits in given number are : ",j)

Enter the number : 20
total numbers of digits in given number are :  2

# 8. Write a python script to calculate sum of digits of a given number

In [82]:
n=int(input("Enter the number : "))
s=0
while n:
    s+=n%10
    n=n//10
print("sum of digits of a given number : ",s)

Enter the number : 6
sum of digits of a given number :  6

# 9. Write a python script to print binary equivalent of a given decimal number. (do not use bin() method)

In [86]:
n= int(input("Enter the decimal number : "))
x=n
lis=[]
while n:
    r=n%2
    lis.append(r)
    n=n//2
lis.reverse()
s=0
for i in lis:
    s=i+s*10

print("The binary of the ",x," are : ",s)

Enter the decimal number : 6
The binary of the  6  are :  110

# 10. Write a python script to print the octal equivalent of a given decimal number. (do not use oct() method).

In [87]:
n= int(input("Enter the number : "))
x=n
lis=[]
while n:
    r=n%8
    lis.append(r)
    n=n//8
lis.reverse()
s=0
for i in lis:
    s=i+s*10

print("The octal equivalent of ",x," decimal number are : ",s)

Enter the number : 6
The octal equivalent of  6  decimal number are :  6