![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 14

# 1. Write a Python script to create a list of first N natural numbers.

In [109]:
n=int(input("Enter the range of natural numbers : "))
lis=[int(i) for i in range(1,n+1)]
print("The list of first ",n," natural numbers are : ")
print(lis)

Enter the range of natural numbers : 5
The list of first  5  natural numbers are :
[1, 2, 3, 4, 5]

# 2. Write a Python script to create a list of first N odd natural numbers

In [110]:
n=int(input("Enter the range of odd natural numbers are  : " ))
i=0
j=1
lis=[]
while i<n:
    lis.append(j)
    j+=2
    i+=1

# lis=[int(i) for i in range(1,n+1) if i%2!=0]
print("The list of first ",n," odd natural numbers are :")
print(lis)

Enter the range of odd natural numbers are  : 5
The list of first  5  odd natural numbers are :
[1, 3, 5, 7, 9]

# 3. Write a Python script to create a list of first N even natural numbers.

In [111]:
n= int(input("Enter the range of even natural numbers : "))
lis=[]
i=2
c=1
while c<=n:
    lis.append(i)
    i+=2
    c+=1
print("The list of first ",n," natural numbers are : ")
print(lis)

Enter the range of even natural numbers : 5
The list of first  5  natural numbers are :
[2, 4, 6, 8, 10]

# 4. Write a Python script to find the greatest number in a given list of numbers

In [112]:
lis=[1,2,3,4,5,6]
print("Greatest number in given list are : ",max(lis))

Greatest number in given list are :  6

# 5. Write a Python script to find the smallest number in a given list of numbers

In [113]:
lis=[1,2,3,4,5,6]
print("Given list are : ",lis)
print("Smallest number are : ",min(lis))

Given list are :  [1, 2, 3, 4, 5, 6]
Smallest number are :  1

# 6. Write a Python script to calculate the sum of elements in a given list of numbers.

In [114]:
lis=[1,2,3,4,5]
print("Given list are : ",lis)
print("Sum of list are : ",sum(lis))

Given list are :  [1, 2, 3, 4, 5]
Sum of list are :  15

# 7. Write a Python script to remove all non int values from a list.
```py
ls=[]
for i in lis:
  
  if type(i)==int:
    ls.append(i)
print(ls)
```

In [115]:
lis=[1,"hello","c#",5,"Python",6,7]
print("Initial list are : ")
print(lis)

lis=[x for x in lis if type(x)==int]
print("After the removal of all non int values list are : ")
print(lis)

Initial list are :
[1, 'hello', 'c#', 5, 'Python', 6, 7]
After the removal of all non int values list are :
[1, 5, 6, 7]

# 8. Write a Python script to print distinct elements along with their frequencies of occurrence in the list

In [116]:
lis=[1,2,3,2,4,5,3,4]
tup=[]
for i in lis:
    if i not in tup:
        print("element - ",i, "frequency of occurance - ",lis.count(i)) 
        tup.append(i)

element -  1 frequency of occurance -  1
element -  2 frequency of occurance -  2
element -  3 frequency of occurance -  2
element -  4 frequency of occurance -  2
element -  5 frequency of occurance -  1

# 9. Write a Python script to print indices of all occurrences of a given element in a given list.

In [117]:
lis=[1,2,3,4,5,3,5,4,7,4]
print("the list are : ")
print(lis)

n=int(input("Enter the element : "))
i=0
ind=[]
for j in lis:
    if j==n:
        ind.append(i)
    i+=1
print("The indices of ",n," in a list are : ")
print(ind)

the list are :
[1, 2, 3, 4, 5, 3, 5, 4, 7, 4]
Enter the element : 5
The indices of  5  in a list are :
[4, 6]

# 10. Write a python script to sort a list.

In [118]:
lis=[1,9,2,8,3,7,4,6,5,10]
print("Before sorting list are : ")
print(lis)
lis.sort()
print("After sorting list are : ")
print(lis)

Before sorting list are :
[1, 9, 2, 8, 3, 7, 4, 6, 5, 10]
After sorting list are :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]