![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 10

# 1. Write a python script to print MySirG N times on the screen

In [64]:
n=int(input("Enter the number : "))
for i in range(n):
    print("MySirG")

Enter the number : 4
MySirG
MySirG
MySirG
MySirG

# 2. Write a python script to print first N natural numbers

In [65]:
n=int(input("Enter the number : "))
for i in range(1,n+1):
    print(i)

Enter the number : 6
1
2
3
4
5
6

# 3. Write a python script to print first N natural numbers in reverse order.

In [66]:
n=int(input("Enter the number : "))
for i in range(n,0,-1):
    print(i)

Enter the number : 6
6
5
4
3
2
1

# 4. Write a python script to print first N odd natural numbers.

In [67]:
n=int(input("Enter the number : "))
j=1
for i in range(1,n+1):
    while(j%2==0):
        j+=1
    print(j)
    j+=1

Enter the number : 6
1
3
5
7
9
11

# 5. Write a python script to print first N odd natural numbers in reverse order.

In [69]:
n=int(input("Enter the number"))
# for i in range(1,n+1):
#     print(2*n-2*i+1)

for i in range(2*n-1,0,-2):
    print(i)

Enter the number6
11
9
7
5
3
1

# 6. Write a python script to print first N even natural numbers

In [70]:
n=int(input("Enter the number : "))
for i in range(2,2*n+1,2):
    print(i)

Enter the number : 6
2
4
6
8
10
12

# 7. Write a python script to print first N even natural numbers in reverse order.

In [71]:
n=int(input("Enter the number : "))
for i in range(2*n,0,-2):
    print(i)

Enter the number : 6
12
10
8
6
4
2

# 8. Write a python script to print squares of first N natural numbers.

In [72]:
n=int(input("Enter the number : "))
for i in range(1,n+1):
    print(i**2,end=' ')

Enter the number : 6
1 4 9 16 25 36

# 9. Write a python script to print cubes of first N natural numbers

In [73]:
n=int(input("Enter the number : "))
for i in range(1,n+1):
    print(i**3,end=" ")

Enter the number : 6
1 8 27 64 125 216

# 10. Write a python script to print first 10 multiples of No.

In [74]:
n=int(input("Enter the number : "))
for i in range(1,11):
    print(i*n,end=" ")

Enter the number : 6
6 12 18 24 30 36 42 48 54 60