![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 13

# 1. Write a python script to store multiple items in a single variable ( Items are “Java” ,“Python”, “SQL”, “C” ) using list.

In [99]:
lis=[]
print("Enter the items : ")
while True:
    x=int(input("Press 1 to enter more and 0 to exit "))
    if x==1:
        lis.append(input("item :"))
    else:
        break
    
print("The items are : ",lis)

Enter the items :
Press 1 to enter more and 0 to exit 1
item :“Java” ,“Python”
Press 1 to enter more and 0 to exit 1
item :“SQL”, “C”
Press 1 to enter more and 0 to exit 0
The items are :  ['“Java” ,“Python”', '“SQL”, “C”']

# 2. Write a python script to get the data type of a list.

In [100]:
lis= [1,2,3,4]
print("The Data type of list are : ", type(lis))

The Data type of list are :  <class 'list'>

# 3. Write a python script to get the last item of the list ( mylist = ["Java", "C", "Python"])

In [101]:
mylist=["Java","C","Python"]

# print("the last element of the list are : ",mylist.pop())
print("the last element of the list are : ",mylist[-1])

the last element of the list are :  Python

# 4. Write a python script to Change the values "SQL" and "Reactnative" with the values "NoSQL" and "Flutter" 

(List is thislist = ["Java", "SQL", "C", "Reactnative", "Javascript", "Python"]

In [102]:
thislist = ["Java", "SQL", "C", "Reactnative","Javascript", "Python"]
print("Initial list are : ",thislist)
sql_index=thislist.index("SQL")
thislist[sql_index]="NoSQL"
react_index=thislist.index("Reactnative")
thislist[react_index]="Flutter"
print("List are : ",thislist)

Initial list are :  ['Java', 'SQL', 'C', 'Reactnative', 'Javascript', 'Python']
List are :  ['Java', 'NoSQL', 'C', 'Flutter', 'Javascript', 'Python']

# 5. Write a python script to add an item to the end of the list (item “Python”. (mylist = ["Java", "SQL", "C", "Reactnative"]

In [103]:
mylist = ["Java", "SQL", "C", "Reactnative"]
print(mylist)
mylist.append("Python")
print("After the addition of item to the end list are : ")
print(mylist)

['Java', 'SQL', 'C', 'Reactnative']
After the addition of item to the end list are :
['Java', 'SQL', 'C', 'Reactnative', 'Python']

# 6. Write a python program to append elements from another list to the current list.(

```py
firstlist = ["Java", "Python", "SQL"]
secondlist = ["C", "Cpp", "NoSQL"] )
```

In [104]:
firstlist = ["Java", "Python", "SQL"]
secondlist = ["C", "Cpp", "NoSQL"] 

print("First list are : ",firstlist)
print("Second list are : ",secondlist)

print("after the append of elements from one list to another list : ")
for i in secondlist:
    firstlist.append(i)
print(firstlist)

First list are :  ['Java', 'Python', 'SQL']
Second list are :  ['C', 'Cpp', 'NoSQL']
after the append of elements from one list to another list :
['Java', 'Python', 'SQL', 'C', 'Cpp', 'NoSQL']

# 7. Write a python program to Print all items by referring to their index number (thislist =
# ["Java", "SQL", "C", "Reactnative", "Javascript", "Python"]

```py
import this

thislist = ["Java", "SQL", "C", "Reactnative", "Javascript", "Python"]

l=len(thislist)
for i in range(l):
    print("Index - ",i," value - ",thislist[i])
```

# 8. Write a python program to sort the list alphanumerically – thislist = ["Java", "SQL", "C", "Reactjs", "Javascript", "Python"]

In [106]:
thislist = ["Java", "SQL","C", "Reactjs", "Javascript", "Python"]
print("Before sorting list are : ")
print(thislist)

thislist.sort()
print("After sorting list are : ")
print(thislist)

Before sorting list are :
['Java', 'SQL', 'C', 'Reactjs', 'Javascript', 'Python']
After sorting list are :
['C', 'Java', 'Javascript', 'Python', 'Reactjs', 'SQL']

# 9. Write a Python script to create a list of city names taken from the user.

In [107]:
lis=[]

print("Enter the name of city :")
print("Press 0 to exit ")
while True:
    x=input()
    if x!='0':
        lis.append(x)
    else:
        break

print("list of city are : ",lis)

Enter the name of city :
Press 0 to exit
Amroha
Joya
0
list of city are :  ['Amroha', 'Joya']

# 10. Write a Python script to create a list, where each element of the list is a digit of a given number.

In [108]:
num= input("Enter the number : ")
lis= [x for x in num]
print("List of the elements of given number :  ", lis)

Enter the number : 12, 13, 10
List of the elements of given number :   ['1', '2', ',', ' ', '1', '3', ',', ' ', '1', '0']