![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)


# Name: **Mohammad Wasiq**
## Email: **mohammadwasiq0786@gmail.com**
### Assignment 8

# 1. Write a python script to print MySirG 5 times on the screen.

In [43]:
i=1
while(i<=5):
    print("MySirG")
    i+=1

MySirG
MySirG
MySirG
MySirG
MySirG

# 2. Write a python script to print first 10 natural numbers.

In [44]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# 3. Write a python script to print first 10 natural numbers in reverse order
```py
i=10
while(i>=1):
  print(i)
  i-=1
```

In [45]:
i=1
while(i<=10):
    print(11-i, end=' ')
    i+=1

10 9 8 7 6 5 4 3 2 1

# 4. Write a python script to print first 10 odd natural numbers

In [46]:
i,j=1,1
while(i<=10):
    if(j%2!=0):
        print(j)
        i+=1
    j+=1

1
3
5
7
9
11
13
15
17
19

# 5. Write a python script to print first 10 odd natural numbers in reverse order.

In [47]:
i,j=1,1
lis=[]
while(i<=10):
    if(j%2!=0):
        lis.append(j)
        i+=1
    j+=1
lis.reverse()
for i in lis:
    print(i)

19
17
15
13
11
9
7
5
3
1

# 6. Write a python script to print first 10 even natural numbers

In [48]:
i,j=1,1
while(i<=10):
    if(j%2==0):
        print(j)
        i+=1
    j+=1

2
4
6
8
10
12
14
16
18
20

# 7. Write a python script to print first 10 even natural numbers in reverse order

In [49]:
i,j=1,1
lis=[]
while(i<=10):
    if(j%2==0):
        lis.append(j)
        i+=1
    j+=1
lis.reverse()
for i in lis:
    print(i)

20
18
16
14
12
10
8
6
4
2

# 8. Write a python script to print squares of first 10 natural numbers

In [50]:
i=1
while(i<=10):
    print(i*i)
    i+=1

1
4
9
16
25
36
49
64
81
100

# 9. Write a python script to print cubes of first 10 natural numbers

In [51]:
i=1
while(i<=10):
    print(i**3)
    i+=1

1
8
27
64
125
216
343
512
729
1000

# 10. Write a python script to print first 10 multiples of 5

In [52]:
i,j=1,1
# while(i<=10):
#     print(5*i)
#     i+=1

while(i<=10):
    if(j%5==0):
        print(j)
        i+=1
    j+=1

5
10
15
20
25
30
35
40
45
50